input[type="button"] {
		display: inline-block;
		width: 30px;
		height: 30px;
}

#decimal {
	width: 200px;
	padding-left:5px; 
}

.box {
	margin: 0 auto;
	border: 1px solid;
	background: #999;
	width: 210px;
	padding: 10px;
}

.keys {
	width: 145px;
	margin-top: 10px;
}